html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
.masthead {
  background-image: url("../images/beetle.svg"), url("../images/texture.png");
  background-size: 75px auto, 200px auto;
  padding: 2em;
  background-repeat: no-repeat, repeat;
  background-position: center 10px, left top;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

header {
  color: white;
  text-align: center;
}

nav li {
  display: block;
  float: left;
  width: 25%;
  list-style-type: none;
}

nav a {
  display: block;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 1em 1em 1em 1em;
  color: white;
  background-color: #512200;
  opacity: 0.5;
  text-decoration: none;
  text-align: center;
}

nav ol {
  overflow: hidden;
  padding: 0;
  width: 100%;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}


footer {
  background-color: #512200;
  opacity: 0.5;
}
